
@tailwind base;
@tailwind components;

@layer base {
  :root {
    --sidebar: 240 240 240;
    --sidebar-foreground: 20 20 20;
    --sidebar-border: 215 215 215;
    --sidebar-accent: 235 235 235;
    --sidebar-accent-foreground: 0 0 0;
    --sidebar-ring: 66 153 225;
  }

  .dark {
    --sidebar: 30 30 30;
    --sidebar-foreground: 255 255 255;
    --sidebar-border: 50 50 50;
    --sidebar-accent: 55 55 55;
    --sidebar-accent-foreground: 250 250 250;
    --sidebar-ring: 66 153 225;
  }
}
